* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --darkgreen:#030303;
  --darkgrey:#202020;
}
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
 }

.row::after {
  display: table;
  clear: both; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/* globals */
body {
  
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-apart{
  position: relative;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */

/* Hero */

video{
  object-fit: cover;
  position: fixed;
  
  z-index: -1;
}
.defaultHero,
.roomsHero,
.genSupply {
  min-height: calc(70vh - 66px);
  width: 100vw;
  background: url("./images/hbcg.jpg") center/cover no-repeat;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}
.genSupply{
  min-height: calc(80vh -66px );
  background: url("./images/gensupplyback.jpg") center/cover no-repeat; 
}
.errorEvery{
  min-height: calc(100vh - 66px);
  background: url("./images/hback.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomsHero {
  background-image: url("./images/hback.jpg");
  min-height: 46vh;
  width: 100vw;
  display: inline-flex;
  
}
/*
carousel style
*/
.content{
  display: grid;
  margin: 12px;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-size: 1.5rem;
  background: url("./images/building\ works.jpeg") center/cover no-repeat;
 
}
.caraselCont{
  width: 30vw;
  height: 66vh;
  margin: 0 auto;
   margin-bottom: -20%;
  
}


div .apartcarousel{
  width: 40vw;
  height: 66vh;
  margin: 0 auto;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .carasel{
    height:380px ;
    width: auto;
    padding: 15px;
  }
  .carasel p{
    letter-spacing:none;
  }
  div .apartcarousel{
    width: auto;
    height: 380px;
    margin: 0 auto;
  }
  .caraselCont{
    width: 100%;
    height: auto;
    margin: 0 auto;
   border-radius: 50%;
  }
  }

/* End of Hero */
/* Banner */
.banner {
  
  display: inline-block;
  background: rgba(8, 8, 8, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  
}

.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  margin: 1.7rem auto;
  text-align: center;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.bancaroul{
  width: 171px;
  height: 180px;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  color: var(--mainWhite);
  text-align: center;
 
}
.section-title h4 {
  font-size: 2rem;
  color: (--mainWhite);
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--darkgreen);
}
/* end of Title */

/* services */
.services {
  padding: 1rem 0;
}
.services {
  background: var(--darkgrey);
  text-align: center;
  height:auto;
}
.services-center,
.mission-center {
  width: 90vw;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}


.links {
  color: rgb(247, 246, 241);  
  align-items: center;
  font-weight: 1rem;
  font-size: 1.0rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.services h6 {
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
  .defaultHero{
    display: block;
  }
  .banner{
    margin-top: -8%;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/* bannerured rooms */

.featured-Roads {
  padding: 5rem 0;
  background: #cfcfcf;
  
}
.featured-Roads-center {
  width: 80vw;
  min-height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
  
}
@media screen and (min-width: 776px) {
  .featured-Roads-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-Roads-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured rooms */
/* room */
.road {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  
}
.road:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.img-container1 img {
  width: 100%;
  height: 450px;
  display: block;
  
}


.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.apartment-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of room  */
/* single room*/

.single-work {
  padding: 5rem 0 0 0;
}
.single-work-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-work-images img {
  width: 100%;
  display: block;
}
.single-work-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
  font-weight: 600;
  text-transform: capitalize;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 400;
}
.apartment-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.apartment-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-work-images,
  .single-work-info,
  .apartment-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-work-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single room*/
/* roomlist */
.roadslist {
  padding: 5rem 0;
}
.roadslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roadslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roadslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomlist */
/*  rooms fitler*/
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
  padding: 20px;
  margin: 4px;
  letter-spacing: var(--mainSpacing);
 
  }
  .form-control:hover{
   background: rgb(203, 248, 250);
  }
  
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
  
}
/* end of rooms fitler*/

.locale{
  background: rgb(95, 95, 95);
  
  padding: 5rem 0;
}
.locale1{
  height: 50vh;
}

@media screen and (min-width: 992px){
 .Footer{
  height: auto;
  display: flex;
 
 }
  
}
.Footer {
  width: 100%;
  color:var(--mainWhite); 
  background: var(--mainBlack);;
  list-style: none;
  justify-content: center ;
}
.footer-nav{
  display: flex;
  padding: 4px;
  margin: 1px;
  
}
.footer-article{
  padding: 6px;
  
}

.nav-links {
  height: 0;
   overflow: hidden;
   transition: var(--mainTransition);
   list-style-type: none;
   margin: 0 1rem;
    padding: 0.5rem 0;
 }
 .nav-links a {
   display: block;
   text-decoration: none;
   padding: 1rem 0;
   color: var(--mainWhite);
   transition: var(--mainTransition);
   font-size: 1rem;
   font-weight: 600;
   letter-spacing: var(--mainSpacing);
 }
 .nav-links a:hover {
   color: var(--primaryColor);
 }
 
 .show-nav {
   height: auto;
 }
 @media screen and (min-width: 768px){
  .nav-links {
    height: auto;
    display: flex;
    width: 100%;    
  } 
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
 }